<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1.5">
          <ion-buttons >
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size ="9">
          <ion-title style="width: 100%; text-align: center;">Profile</ion-title>
        </ion-col>
        <ion-col size="1.5">
          <ion-buttons (click)="presentPopover($event)" >
            <ion-icon name="cog" class="cog"></ion-icon>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngFor="let user of allBeneficiaries"  >

  <div style="width: 100%; text-align: center;">
    <ion-avatar class="user-image" >
      <ion-img src= {{user.profilePic}} ></ion-img>
    </ion-avatar>
    <h2>{{ user.firstName }}</h2>   
  </div>

  <ion-segment [(ngModel)]="cat"  style="background: #d6e4ff">
    <ion-segment-button value="MyStory">
      <strong>My Story</strong>
    </ion-segment-button>
    <ion-segment-button value="Donate">
      <strong>Donate</strong>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="cat">
    <ion-list *ngSwitchCase="'MyStory'">
      <ion-card padding style="background:#f5f6f9">
        <h2 >My Story</h2>
        <p>{{ user.story }}</p>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'Donate'">
      <ion-card padding style="background:#f5f6f9">
        <ion-item>
          <ion-label color="primary" fixed>Amount</ion-label>
          <ion-input type="number" placeholder="Enter Amount" [(ngModel)]="amount"></ion-input>
        </ion-item>
        <div class="payButtonAlignment">
          <ion-button color="danger" (click)="clearButton()" [disabled]="!amount">
            Clear
          </ion-button>
          <ion-button  (click)="payNow(amount)" [disabled]="!amount">
            Pay Now
          </ion-button>
        </div>
      </ion-card>
    </ion-list>
  </div>

  <!--
  

  <div>
    <p>Item 1</p>
      <ion-button fill="solid" expand="block" color="dark" (click)="DonateToItem()">Make Donation</ion-button>
  </div>
  <!-- Hide this if possible 
  <div>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Bid</ion-label>
        <ion-input type="text" [(ngModel)]="bid"></ion-input>
      </ion-item>
    </ion-list>
   <ion-button fill="solid" expand="block" color="dark" (click)="linkAccount()">Link Accounts</ion-button>
  </div>-->
</ion-content>

