ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
}
.paz {
    position: relative;
    z-index: 10;
}
.rounded {
        width: 100%;
        height: 140px;
        border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
        
}
.namelogo{
    width: 60px;
    height: 60px;
    margin: 5px auto 8px;
    //border-radius: 10%;
    background: url("/assets/nameLogo.png") no-repeat;
    background-size: 200%;
  }
.logo {
    width: 60px;
    height: 60px;
    margin: 20px auto 8px;
    border-radius: 10%;
    background: url("/assets/SSLogo.png") no-repeat;
    background-size: 100%;
  }
  .icontent {
justify-content: center;
	display: flex!important;
 	align-items: center!important;
   
}