<ion-header>
  <ion-toolbar color="primary" >
    <ion-grid>
      <ion-row>
        <ion-col size="1.5">
          <ion-buttons>
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="9">
          <ion-title style="width: 100%; text-align: center;">Donations</ion-title>
        </ion-col>
        <ion-col size="1.5">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <!--  {{ selectcity[0] }}-->
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let BPpl of allBeneficiary; let i = index">
      <ion-item >
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-avatar class="user-image" >
                  <ion-img src= {{BPpl.profilePic}} ></ion-img>
                </ion-avatar>
              </ion-col>
              <ion-col size="7" style="width: 100%; text-align: left;">
                <h2>{{ BPpl.firstName }}</h2>
              </ion-col>
              <ion-col size="2">
                <h2> {{ BPpl.amount }}</h2> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!--<ion-list *ngIf="x">
      <ion-item ngFor="let BPpl in x">
        <h2>{{ x[0] }} {{ x[1] }} </h2>
      </ion-item>
    </ion-list>-->
</ion-content>
